# DATABASE
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET=

# REDIS
REDIS_HOST=
REDIS_PORT=

# OLLAMA
OLLAMA_API_URL=http://host.docker.internal:11434/api/generate
OLLAMA_MODEL=mistral
OLLAMA_TEMPERATURE=0.7
OLLAMA_TOP_P=0.9
OLLAMA_REPEAT_PENALTY=1.15
OLLAMA_NUM_CTX=8192
OLLAMA_NUM_PREDICT=1024

# PISTON
PISTON_API_URL=

# MAIL
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# GOOGLE LOGIN
GOOGLE_CLIENT_ID=

# ADMIN
ADMIN_REGISTRATION_CODE=

# FRONTEND
FRONTEND_URL=